body {
    margin: 20;
    text-align: center;
}

#usbarchart {
    float: right;
}

#usbarchart_svg {
    float: right;
}

#choropleth {
    float: left;
}

#choropleth_svg {
    float: left;
}
